@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

.little {
    font-family: 'Lora', serif;
    font-weight: 600;
    margin-top: 2rem;
    font-size: 2rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 11.5) !important;
}